.products{
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 700;
    font-family: "Roboto Condensed",sans-serif;
}

input, textarea{
    outline: none;
}

.box{
    width: 414px;
}

.topic{
    border-bottom: 1px solid rgb(167, 154, 154);
}